BOT_SHARED_SECRET=
BOT_ENABLED=true
ALLOWED_ROOMS=
ADMIN_SENDERS=
NEXON_API_KEY=
KRX_AUTH_KEY=
TIINGO_TOKEN=
STOCK_ENABLED=false
TMDB_READ_ACCESS_TOKEN=
TMDB_REGION=KR
NOTICE_ALERT_ENABLED=false
NOTICE_ALERT_KEYWORDS=채널 점검,마이너버전,클라이언트
